.resetpassword{
    border-radius: 3px;
    border: solid black;
    text-align: center;
    width: 40%;
    height: 14rem;
    margin-top: 100px;
    background-color: #fffb;
    color: black;
    margin-left: 30%;
}

