.bigwrapper {
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  font-family: sans-serif;
  background: #d8d8d8;
}
.main {
  margin: auto;
  padding: auto;
  width: 350px;
  height: 550px;
  /* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */
  /* background: #a18848; */
  /* background: -webkit-linear-gradient(to right, #615e46, #ecb016); */
  /* background: linear-gradient(to right, #615e46, #ecb016); */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk {
  display: none;
}
.singup {
  position: relative;
  width: 100%;
  height: 500px;
}

.SingupLabel {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-out;
  margin-bottom: 10px;
}
.inputform {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
#signupSubmitButton {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #d4c9eb;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
#signupSubmitButton:hover {
  background: #645f6d;
}
.login {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}

.me {
  margin: 25px;
  text-align: center;
}
.me a {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  background: #010101;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s;
}
.me a:hover {
  color: #fff;
  background: #b9b6b1;
  transition: all easy 0.3s;
}
#checklist {
  width: 30%;
}
