body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1095px;
    margin: auto;
}

.login {
    background-color: #252A34;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.login .back {
    width: 78vw;
    height: 30vh;
    background-color: #08D9D6;
    position: absolute;
    top: 40%;
    z-index: 0;
    color: #FFF;
    border-radius: 18px;
    font-family: sans-serif;
   display: none
}

.login .back .singup {
    float: left;
    clear: both;
    padding-left: 150px;
    padding-top: 30px;
    text-transform: capitalize;
}

.login .back .singup button,
.login .back .signin button,
.login .front .formUp form button,
.login .front .formin form button {
    padding: 12px 30px;
    background: none;
    border-radius: 18px;
    border: 1px solid #000;
    transition: all .5s ease-in-out;
    margin-left: 50px;
    text-transform: capitalize;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    transition: all .5s ease-in-out;
    font-family: sans-serif
}

.login .back .singup button:hover,
.login .back .signin button:hover,
.login .front .formUp form button:hover,
.login .front .formin form button:hover {
    background-color: #252A34;
    color: #fff;
    transition: all .5s ease-in-out;
}

.login .back .signin {
    float: right;
    padding-right: 150px;
    padding-top: 30px;
    text-transform: capitalize;

}

.login .front {
    width: 27vw;
    height: 60vh;
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 20%;
    background-color: #EAEAEA;
    text-transform: capitalize;
    text-align: center;
    box-shadow: 0px 0px 15px #000;
    border-radius: 18px;
    animation: animate 1s ease-in-out 
}

.login .front .formUp form,
.login .front .formin form {
    padding-top: 50px;
}

.login .front .formUp form h2,
.login .front .formin form h2 {
    color: #252A34;
    font-family: sans-serif
}

.login .front .formUp form input,
.login .front .formin form input {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    background: none;
    height: 30px;
    width: 70%;
    outline: none;
    border-bottom: 2ps solid #252A34;
    border: none;
    border-bottom: 2px solid #000;
}

.login .front .formUp form button,
.login .front .formin form button {
    margin-left: 0px;
    margin-top: 20px;
}

.login .front .formUp {
    transition: all .5s ease-in-out;
    animation: animate 1s ease-in-out forwards
}

.login .front .formin {
    display: none;
    animation: animate 1s ease-in-out forwards
}
.Box{
  width: 400px;
  margin-top: 100px;
  border-radius: 4px;
  border: solid silver;
  text-align: center;
  margin-left: 450px;
  background-color: #fffb;
  color: black;
 
}
#check{
  width: 300px;
  margin-top: 20px;
  text-align: center;
  margin-left: 40px;
  background-color: rgba(61, 60, 60, 0.733);
  color: rgb(10, 10, 10);
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.97, .97, .97);
    }

    100% {
       
        transform: scale3d(1, 1, 1);
    }
}
