body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  /* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */
  background: #e1eec3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #c6ccc1, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.main {
  width: 300px;
  height: 500px;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  background: #ECB016;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f05053, #ECB016);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f05053, #ECB016); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk {
  display: none;
}
.singup {
  position: relative;
  width: 100%;
  height: 100%;
}
label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}
input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}
button:hover {
  background: #6d44b8;
}
.login {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: .8s ease-in-out;
}
.login label {
  color: #573b8a;
  transform: scale(.6);
}
#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .singup label {
  transform: scale(.6);
}
.me {
margin:25px;
text-align: center;
}
.me a {
font-size:15px;
color: #fff;
font-weight: 400;
text-decoration: none;
background: #010101;
padding: 10px;
border-radius: 8px;
transition: all 0.3s;
}
.me a:hover {
color: #fff;
background: #FFA200;
transition: all easy 0.3s;
}