.wr {
  width: 79%;
  margin: 0 auto;
  margin-top: 4%;
}
/* .whole{
  background-color: #d8d8d8;
  width: 100%;
} */
.mainwrapper {
  /* display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: auto;
  grid-gap: 18px;
  background: #ffffff;
  width: 99.9%; */
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
  margin: 0 auto;
  max-width: 85%;
  padding: 1.8rem 1.7rem;
  grid-gap:1.9rem;
  align-items: stretch;

}
.list {
  display: flex;
  height: 6.5rem;
  flex-direction: column;
  /* position: relative; */
  width: 100%;
  margin: 0 auto;
  border: solid 1px gray;
  margin-top: 1%;
  margin-left: 6px;
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
}

.Nav {
  text-align: center;
  /* background-image:url("https://images.unsplash.com/photo-1589391886645-d51941baf7fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"); */
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.imaglawyer{
 width: 90%;
 height: 20rem;
}
#imag {
  width: 15%;
  height: 4rem;
  border-radius: 50%;
}
.LineOne {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  height: 1px;
}
.LineTwo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  height: 3rem;
  margin-top: 4%;
  margin-right: 14%;
  font-size: 1.2rem;
}
#name {
  font-size: 1.5rem;
  margin-right: 6%;
  margin-top: 1%;
}

li {
  display: inline;
}
/* #button {
  color: rgb(238, 240, 235);
  font-size: 19px;
  background: rgb(54, 54, 126);
  text-align: center;
} */
/* #logoutSubmitButton {
  width: 20%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: rgb(54, 54, 126);
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
} */
.SubmitButton {
  width: 40%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #252525;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.SubmitButton :hover{
  
}


/* body {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  background-color: #0c0f15;
  overflow-x:hidden;
  color: #ababab; } */
