.wr {
  width: 79%;
  margin: 0 auto;
  margin-top: 4%;
}

.mainwrapper {
  
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
  margin: 0 auto;
  max-width: 85%;
  padding: 1.8rem 1.7rem;
  grid-gap:1.9rem;
  align-items: stretch;

}
.list {
  display: flex;
  height: 6.5rem;
  flex-direction: column;
  /* position: relative; */
  width: 100%;
  margin: 0 auto;
  border: solid 1px gray;
  margin-top: 1%;
  margin-left: 6px;
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
}

.Nav {
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.imaglawyer{
 width: 90%;
 height: 20rem;
}
#imag {
  width: 15%;
  height: 4rem;
  border-radius: 50%;
}
.LineOne {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  height: 1px;
}
.LineTwo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  height: 3rem;
  margin-top: 4%;
  margin-right: 14%;
  font-size: 1.2rem;
}
#name {
  font-size: 1.5rem;
  margin-right: 6%;
  margin-top: 1%;
}

li {
  display: inline;
}

.SubmitButton {
  width: 40%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #252525;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
